.language {
  display: inline;
}
.heading {
  font-size: 20px;
}
#source {
  background: white;
  height: 450px;
  font-size: 15px;
  resize: vertical;
  border-radius: 5px;
}
.form-control {
  min-height: auto;
  padding: 4.5px 12px 3.68px 12px;
  transition: all .1s linear;
  box-shadow: none;
}
button.btn.btn-primary.ml-2.mr-2, button.btn.btn-danger {
  font-size: 16px;
  padding: 12px;
  margin: 10px;
  background-color: #14a44d;
  color: white;
  border-radius: 5px;
  width: 163px;
}
#input {
  background: white;
  height: 60px;
  resize: vertical;
  font-size: 17px;
  border-radius: 5px;
}
#output {
  background: black;
  height: 17vh;
  resize: vertical;
  font-size: 17px;
  color: yellow;
  font-family: Consolas;
  border-radius: 5px;
}
.container-fluid {
  margin: auto;
  padding-top: 30px;
}
@media (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
  button.btn.btn-primary.ml-2.mr-2, button.btn.btn-danger {
    width: 100%;
    margin: 5px 0;
  }
  #source, #input, #output {
    font-size: 14px;
  }
}
